Form {
  line-height: 30px;
  margin: 30px 20px;
}

input {
  border-radius: 10px;
  opacity: 0.8;
  border: none;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.8);
}

.button {
  border-radius: 8px;
  border: none;
  background: #97fffa;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 1);
  color: #01172f;
  font-weight: bold;
  margin: 0 5px;
}

.btn-go {
  margin-left: 10px;
}

.button:hover {
  background: #01172f;
  color: #a5f3ef;
}

#exampleInputcity1 {
  opacity: 0.8;
  color: #01172f;
  width: 305px;
}
