h2 {
  margin: 0 0 0 30px;
  font-size: 47px;
}

a {
  color: #2ce2e1;
  text-decoration: none;
  opacity: 45%;
}

a:hover {
  color: #01172f;
  font-weight: 900;
  opacity: 100%;
}

.active {
  font-weight: 500;
  cursor: default;
  color: #2ce2e1;
  opacity: 100%;
}

.active:hover {
  text-decoration: none;
  color: #2ce2e1;
  font-weight: 500;
}

.units {
  position: relative;
  font-size: 15px;
  top: -20px;
}
